@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/colors";
@use "../utils/animations";

body {
  background-color: colors.$lightergrey;
}

#page-restau {
  // Flèche vers la gauche sur le Header
  header::before {
    @include mixins.font-awesome($font-weight: 900);
    content: "\f060";
    left: 1rem;
    font-size: 20px;
    // Pour placer l'élément au milieu verticalement comme dans tuto.scss
    bottom: 50%;
    transform: translateY(+50%);
  }
  .banner img {
    display: block;
    width: 100%;
    height: 40vh; // "vh" = viewport height donc 30% de la hauteur max du navigateur
    object-fit: cover;
    object-position: center;
  }

  .restau__title {
    margin-top: -2rem;
    h2 {
      font-family: "Shrikhand", "sans-serif";
      padding: 2rem 1rem;
      @include mixins.heart_animated;
      border-radius: 2rem 2rem 0 0;
      background-color: colors.$lightergrey;
    }
  }
  .restau__main {
    padding: 0 1rem;
  }

  .menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: variables.$breakpoint) {
      grid-template-columns: 1fr;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 400;
      position: relative;
      //Barre couleur tertiaire qui souligne le titre "Entrées / Plats / Desserts"
      &::after {
        content: "";
        position: absolute;
        height: 0.25rem;
        width: 3rem;
        top: 1.5rem;
        left: 0;
        background-color: colors.$color-tertiary;
      }
    }
    .menus__category {
      overflow: hidden; // <h4> et <p> de menu-item__description affiche [...] lorsque la largeur de l'ecran est trop petite

      .menu__title {
        padding-bottom: 1rem;
      }
      .menu-item {
        // Animation : apparition des cartes
        // Et non "from 1 through 3" pcq le menu__title compte parmi les "$i"
        @for $i from 2 through 4 {
          //nth-child > sélectionner un ou plusieurs éléms en fonction de leur ordre dans la source et selon les critères déterminées
          &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
          }
        }
        animation: appear 1s;
        animation-fill-mode: both;

        display: flex;
        background-color: white;
        overflow: hidden;
        margin: 0.3rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        @include mixins.box-shadow;

        .menu-item__price {
          margin-left: auto;
          font-weight: 900;
          padding: 1rem;
          display: flex;
          align-items: flex-end;
        }
        .menu-item__description {
          padding: 1rem;
          overflow: hidden; // <h4> et <p> de menu-item__description affiche [...] lorsque la largeur de l'ecran est trop petite
          h4,
          p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .menu-item__check {
          // Forme & Couleur du button-check
          $button-width: 4rem;
          border-radius: 0 1rem 1rem 0;
          background-color: colors.$color-tertiary;
          margin-right: -1 * $button-width;
          width: $button-width;
          // Animation du button-check
          transition: margin-right 0.5s;
          // Checkmark
          display: grid;
          place-items: center;
          & i {
            $size: 1rem;
            display: grid;
            place-items: center;
            color: colors.$color-tertiary;
            -webkit-text-stroke: 3px colors.$color-tertiary; // Weight de Checkmark
            background: white;
            // Proportion et forme du Checkmark
            height: $size;
            width: $size;
            border-radius: 50%;
          }
          flex-shrink: 0; // Pour empêcher le button-check de retrécir lorsqu'il s'affiche sur un petit ecran
        }
        &:hover {
          cursor: pointer;
          .menu-item__check {
            margin-right: 0;
          }
          // Animation du spin de la Checkmark
          i {
            @include animations.quarter-spin;
            animation: quarter-spin 0.4s ease-in-out;
          }
        }
      }
    }
  }

  section.order {
    height: 20vh;
    display: grid;
    place-items: center;
    button {
      @include mixins.base-button;
    }
  }
}
