@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/colors";

body {
  background-color: colors.$lightergrey;
}

#page-restau {
  .banner img {
    display: block;
    width: 100%;
    height: 40vh; // "vh" = viewport height donc 30% de la hauteur max du navigateur
    object-fit: cover;
    object-position: center;
  }

  .restau__title {
    margin-top: -2rem;
    h2 {
      font-family: "Shrikhand", "sans-serif";
      padding: 2rem 1rem;
      @include mixins.heart_animated;
      border-radius: 2rem 2rem 0 0;
      background-color: colors.$lightergrey;
    }
  }
  .restau__main {
    padding: 0 1rem;
  }

  .menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: variables.$breakpoint) {
      grid-template-columns: 1fr;
    }
    .menus__category {
      border: 1px solid red;
      background-color: white;
      border-radius: 1rem;
      .menu-item {
        display: flex;
        .menu-item__price {
          margin-left: auto;
          font-weight: 900;
          padding: 1rem;
          display: flex;
          align-items: flex-end;
        }
        .menu-item__description {
          padding: 1rem;
        }
        .menu-item__check {
          background-color: colors.$color-tertiary;
        }
        & > * {
          border: 1px solid;
        }
      }
    }
  }
}
